<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Document</title>
  </head>
  <body>
    <h1>LUCETE님, 반갑습니다</h1>
    <h2>아래는 변수를 선언하여 파라미터에 따라 결과를 다르게 하기 위한 템플릿 실습</h2>
    <h1>{{username}}님, 반갑습니다</h1>
  </body>
</html>
